@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
    font-size: 62%;
}
body {
    font: 'Roboto';
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}