.search {
    height: 60px;
    width: 500px;
    border: 0;
    text-align: center;
  
    font-size: 20px;
}
.wrapper {
    position: relative;
    bottom: -58px;
    display: flex;
    
    justify-content: center;
}
.button {
    font: inherit;
    width: 120px;
    padding-right: 5px;
    padding: 0.7rem 1.5rem;
    background: #efecee;
    border: 6px solid rgb(188, 192, 6);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    cursor: pointer;
}

.border {
 justify-content: center;
    padding: -5px;
    border: 5px solid rgb(228, 175, 13);
}

.button:focus {
    outline: none;
}

.button:hover,
.button:active {
    background: #ac0e77;
    border-color: #ac0e77;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
.clander{
    position: relative;
    left: 600px;
    top: 19px;
}
.clander2{
    position: relative;
    left: 77px;
    top: 19px;
}
.clander3{
    position: relative;
    left: 1065px;
    top: 19px;

}
.wrapper {
    /* display: flex ;
justify-content: center; */
}
.lich{
   
    position: relative;
    left: 946px;
    top: 55px;
}

